@media (max-width : 667px) {
    .video {
        position: fixed;
        min-width:100%;
        
        left: 50%;
        transform: translate(-50%)
     
      }
      .body-list {
        display: none;
    }
    img.img-happy {
        display: none;
    }
    input#progress {
        display: none;
    }
    .body-control {
        position:absolute;
        top: 512px;
        width: 100%;
        height: 90px;
        justify-content: center;
    }
    .control {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 8px 0 8px 0;
        cursor: pointer;
        border: 1px solid;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        height: 100%;
        margin-left: 15px;
        margin-right: 52px;
        box-shadow: 1px 2px 2px 2px rgba(255, 255, 255, 0.1);
    }
    .nav-contro{
        margin: auto;
    }
    .btn.btn-random {
        display: none;
    }
    .btn.btn-repeat {
        display: none;
    }
    .control .btn {
        color: #666;
        padding: 24px;
        font-size: 18px;
        border-radius: 50%;
        border: 1px solid #777;
    }
    .control .btn-toggle-play {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        border: 1px solid #777;
        font-size: 24px;
        color: #666;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
}
